__pycache__
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.venv/
*.log
.git
.gitignore
.dockerignore
.env
.vscode/
.idea/
*.sqlite3
db.sqlite3
*.md
!README.md
.DS_Store
node_modules/
.pytest_cache/
.coverage
htmlcov/
dist/
build/
*.egg-info/

